*{
    margin: 0;
    padding: 0;
    /* background-color: #efefef; */
}
#header{
    background-image: url(images/banner.jpg);
    height: 80vh;
    background-size: cover;
    background-repeat: center;
}
.navbar-brand {
    width: 110px;
    margin-left: 30px;
}
/* <!-- =========================================section 2 welcome =========================================== -->  */
.welcome{
    padding: 50px 100px;
    margin-top: -140px;
    background-color: #fff;
    box-shadow:  0 0 20px 7px rgba(0, 0, 0, 0.2);
}
.welcome h1{
    color: #333;
}
.welcome .home-btn{
    margin-top: 10px;
    padding: 10px 30px;
    border-radius: 30px;
    color: #fff;
    background-color: #013f7e;
}
.welcome .btn:focus{
    box-shadow: none;
}
.welcome .btn:hover{
    background-color: #0ac704;
    color: #fff;
}
/* <!-- =========================================section 3 About us =========================================== -->  */

#about{
    padding-top: 100px;
    padding-bottom: 100px;
}
#about .col-md-6{
    padding: 20px 10px;
}
#about h3{
    margin: 20px auto;
}
/* <!-- =========================================section 4 Services =========================================== -->  */ 
#services{
    background-color: #efefef;
    padding-top: 80px;
    padding-bottom: 80px;
}
#services .col-md-4{
    padding: 20px;
}
#services .col-md-4 h4{
    padding: 5px;
}
#services .col-md-4 img{
    width: 50px;
}
#services .col-md-4 p{
    padding: 5px;
    text-align: justify;
}
/* <!-- =========================================section 5 Features =========================================== -->   */
#Features{
    padding-top: 100px;
    padding-bottom: 100px;
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(images/feature-background.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
}
#Features .col-md-6{
    padding: 20px;

}
.feature-box{
    height: 120px;

}
.feature-box .feature-left{
    height: 120px;
    width: 20%;
    float: left;
}
.feature-box .feature-left .fas{
    padding-top: 13px;
    font-size: 50px;
}
.feature-box .feature-right{
    height: 120px;
    width: 80%;
    float: left;
}
.feature-box .feature-right h4{
    padding-top: 10px;
    padding-left: 15px;
    text-align: left;
}
.feature-box .feature-right p{
    padding-left: 15px;
    text-align: left;
}
/* <!-- =========================================section 6 Testimonials =========================================== -->   */
#testimonials{
    padding-top: 100px;
    padding-bottom: 100px;
}
#testimonials .col-md-4{
    padding: 10px 30px;

}
#testimonials img{
    width: 50px;
    height: 50px;   
    border-radius: 50%; 
    margin-left: -30px;
    margin-top: -40px;
    border: 3px solid #067ff8;
    margin-bottom: 30px;
}
.review{
    font-size: 16px;
    padding: 10px 10px 10px 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.2);
}
#testimonials span{
    color: #013f7e;
    font-weight: 600;
    font-size: 18px;
}
#testimonials h1{
    margin-bottom: 20px;
    color: #013f7e;
}
.review .fab{
    color: #013f7e;
}
#testimonials h1{
    margin-bottom: 20px;
    color: #013f7e;
}
#testimonials p{
    padding-bottom: 20px;
    
}
#testimonials .middle{
    margin-bottom: 20px;
    margin-top: -30px;
}
/* <!-- =========================================section 6 Subscribe =========================================== -->   */
.subscribe{
    padding: 50px 20px;
    background-color: #013f7e;
    position: relative;
    box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.2); 
    margin-bottom: -160px;
}
.subscribe h3, .subscribe p{
    color: #fff;
}
.subscribe .input-group{
    border-radius: 30px;
    background: #fff;
    max-width: 500px;
    margin: 10px auto;
    padding: 5px;
}
.subscribe .form-control{
    border: none;
    background: transparent;

}
.subscribe .form-control:focus{
    box-shadow: none;
    background: transparent;
    
}
.subscribe .input-group-append{
    background-image: linear-gradient(to right, #1c03b5, #0ac704);
    border-radius: 30px;
    
}
.subscribe .input-group-text{
    background:transparent;
    border:none;
    color: #fff;
}
.subscribe .btn:focus{
    box-shadow: none;
}
/* <!-- =========================================section 7 footer =========================================== -->   */
.footer{
    margin-top: 80px;
    padding: 100px ;
    background: #efefef;
    color: #013f7e;
}
.logos{
    width: 150px;
    margin-top: 25px;
    margin-bottom: 15px;
}
.footer h4{
    text-align: left;
    margin-top: 15px;
    margin-bottom: 25px;
}
.footer p{
    font-size: 12px;
    text-align: left;
    padding-right: 35px;
}
.footer .row .fab, .fas{
    padding-right: 20px;
    font-size: 15px;
}
footer hr{
    margin-top: 10px;
    background: #efefef;
}
.copy .fas{
    color: #f44336;
}
.footer .copyright{
    text-align: center;
}
.fa-heart{
    margin: 0 2px;

}
.footer .city{
    margin-left: 37px;

}